#form-mapViewAdmin h2, #form-seViewAdmin h2,
#form-mapEditDraft h2, #form-seEditDraft h2,
#form-mapView h2, #form-seView h2
{
	margin-top:0;
	margin-bottom:1em;
}

#form-mapViewAdmin .form-group label, #form-seViewAdmin .form-group label
{
	
}

.hr-line-dashed
{
	background-color:#aaa !important;
	border-top-color:#fff !important;
	color:#aaa !important;
}

#tag-browser li strong
{
	width:15em;
	display:inline-block;
}

#tag-browser li
{
	list-style:none;
	padding:5px;
	float:left;
	border:1px solid #ddd;
	margin:5px;
	background:#fefefe;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#tag-browser .btn-group .btn:first-child
{
	border-left:0 !important;
}

#tag-browser .btn-plain
{
	border-left: 1px solid #ccc;
	background:#f0f0f0;
}

#vue-systemActivity .content
{
	min-height: 0;
}

#vue-systemActivity .ibox-content
{
	
}

.timeline-item .date {
	width: auto;
}

@media(max-width: 768px) {
.timeline-item .date {
	width: 110px;
}
}