#f7-publish #google_translate_element{float:right;}

#f7-publish .checkbox-textChunk-r{margin-top:-1.2em; margin-left:2em; margin-bottom:1em;}

.input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{margin-left:-20px !important;}

input[type=radio] + label,
input[type=checkbox]+ label { 
    display: block;
    padding-left: 1.5em;
    text-indent: -.8em;
}