**php_errors.log
**.DS_Store
**.env
/protected/.env
/protected/controllers/TestController.php
/protected/modules/**/config/console.php
/protected/modules/**/config/main.php
/protected/composer.lock
/public_html/phpinfo.php
/protected/composer.lock
/public_html/installer/.htaccess
/protected/runtime/
/public_html/assets/
/public_html/uploads/
/protected/vendor/
/protected/messages/
/protected/overrides/
laradock

docs/.jekyll-cache
_release
