[submodule "protected/yeebase"]
	path = protected/yeebase
	url = https://exiang-magic:magic123@gitlab.com/exiang/yee-base.git
[submodule "public_html/themes/inspinia"]
	path = public_html/themes/inspinia
	url = https://exiang-magic:magic123@gitlab.com/exiang/yee-inspinia.git
