/.env
/protected/.env
protected/modules/*/config/console.php
protected/modules/*/config/main.php
/protected/runtime/
/public_html/assets/
/public_html/uploads/
/protected/vendor/
/protected/messages/
/protected/composer.lock
/public_html/themes/inspinia
/public_html/phpinfo.php
/protected/composer.lock
/protected/overrides
php_errors.log
.DS_Store
laradock
/protected/controllers/TestController.php

docs/.jekyll-cache
_release
